@model WebStore.Models.Employee
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - EmployeeCard</title>
</head>

<body>
    <h3>EMPLOYEE CARD</h3>

    <table>
        <tbody>
            <tr>
                <td>ID:</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Patronymic:</td>
                <td>@Model.Patronymic</td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td>@Model.Birthday</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>Employment Start:</td>
                <td>@Model.EmploymentStart</td>
            </tr>
            <tr>
                <td>Seniority:</td>
                <td>@Model.Seniority</td>
            </tr>

        </tbody>
    </table>

    <hr />

    <a href="/Home/Employees">Employees</a>
</body>

</html>
